:root{
    --laranja: #FE8800;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

header{
    width: 100%;
    min-height: 70vh;
    background: var(--laranja);
    background-image: url("../img/fundo (2).png");
    background-position:  50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-header{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    justify-content: center;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    transition: 0.5s;
    z-index: 999!important;
}
.nav-scroll{
    background: var(--laranja);
}

main{
    min-height: 100vh;
    padding: 0 100px;
}

footer{
    width: 100%;
    min-height: 200px;
    background: var(--laranja);
    display: flex;
    color: #fff;
    padding: 20px 100px 10px 100px;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.titulo-sobre{
    margin-bottom: -40px;
}

nav, .links-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.link-item{
    margin: 0 5px;
    list-style: none;
    color: #fff;
    text-decoration: none;
}

.link-header{
    color: #fff;
}

.img-logo-nav{
    height: 50px;
}
header h1{
    color: #fff;
    text-align: center;
    width: 100%;
}

.logo-instagram{
    height: 30px;
    transition: 0.5s;
}

.div-logo-footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.logo-instagram:hover{
    transform: translateY(-10px);
}

.div-text-footer{
    min-height: 100%;
    text-align: center;
    margin-top: 50px;
}

.link-footer{
    color: #fff;
    text-decoration: underline wavy #fff;
}

.card{
    width: 24%;
    min-height: 300px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.card:hover{
    box-shadow: 0 0 10px #ccc;
    transform: scale(1.1);
}

.card-img{
    width: 100%;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img-card{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body{
    padding: 15px 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20%;
}

.container{
    width: 100%;
    display: flex;
    align-items:stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 100px 0;
}

.text-main{
    font-size: 25px;
    margin: 50px 0 50px 0;
}

.card-body h3{
    font-size: 20px;
}

main h1{
    font-size: 30px;
}
p.text-longo, .text-noivos{
    margin-bottom: -10px;
    margin-top: 10px;
}

.link{
    color: var(--laranja);
}
.link:hover{
    opacity: 0.7;
}
.conta-insta{
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}
.img-insta{
    width: 50%;
    border: 0;
}

@media screen and (max-width: 1081px){
    main{
        padding: 0 50px;
    }
}

@media screen and (max-width: 951px){
    main{
        padding: 0 30px;
    }
}

@media screen and (max-width: 833px){
    main{
        padding: 0 10px;
    }

    .card-body{
        padding: 30px 20px 0 10px!important;
    }
}

@media screen and (max-width: 689px){
    .container{
        flex-wrap: wrap;
    }
    .card{
        width: 33%;
    }
    main{
        padding: 0 5px;
    }
}

@media screen and (max-width: 559px){
    .container{
        flex-wrap: wrap;
    }
    .card{
        width: 47%;
    }
    main{
        padding: 0 15px;
    }
}

@media screen and (max-width: 415px){
    .text-main{
        margin: 20px 10px!important;
        text-align: center;
    }

    .card{
        width: 49%;
    }
    main{
        padding: 0 10px;
    }
    .card-img{
        height: 200px;
    }
    .div-logo-footer{
        justify-content: center;
    }
    footer{
        padding: 20px 10px 10px 10px;
    }
    p.text-longo{
        margin-bottom: -30px;
        padding-top: 10px;
    }
    .txt-cancelados{
        padding-top: -20px!important;
    }

    .text-noivos{
        margin-bottom: -30px;
        padding-top: 20px;
    }
    .titulo-sobre{
        margin-bottom: -20px;
        margin-top: 40px;
    }
    header{
        background-position:  55% 70%;
        background-size: cover;
        background-repeat: no-repeat;   
    }
    
}

@media screen and (max-width: 360px){
    .text-noivos{
        margin-bottom: -30px;
        padding-top: 30px;
    }
    .minicraft{
        margin-bottom: -30px!important;
        padding-top: 30px;
    }
}
